@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	font-family: 'Roboto Condensed', sans-serif;
}

#containerQuestion {
	width: 60%;
	margin: auto;
	padding: 15px;
}

#showOpinons,
#containerQuestion {
	display: none;
}

.opinonInner {
	float: left;
	box-sizing: border-box;
	width: 33.33%;
	padding: 5px;
}

#buttonStart {
	border-radius: 5px;
	background-color: #E7EAEB;
	cursor: pointer;
	font-size: 50px;
	line-height: 50px;
	padding: 20px 40px;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	margin: 2px;
	box-sizing: border-box;
	float: left;
	width: 24%;
	border-radius: 5px;
	background-color: #E7EAEB;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 15px;
	text-align: center;
}

#headerPartiesOpinion{
	clear: both;
	text-align: center;
}

.buttonContainer{
	clear: both;
	padding: 2px;
	overflow: auto;
}

.opinonButton {
	background-color: grey;
	color: #fff;
	text-align: center;
	padding: 10px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#questionTitle {
	text-transform: uppercase;
	border-bottom: 1px solid black;
	text-align: center;
}

#questionText {
	font-size: 19px;
}

#buttonGoBack {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #E7EAEB;
	border-radius: 50px;
	transition: transform .2s;
	border: 0;
outline: 0;
}

#buttonGoBack:hover {
    transform: translateX(-3px);
}