<!DOCTYPE html>
<html>
<head>
	<title>Stemwijzer</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	
	<button id="buttonStart" onclick="startFunction()">Start</button>
	<button id="buttonGoBack" onclick="">Back</button>

	<div id="containerQuestion">
		<h1 id="questionHeader">Test</h1>		

		<p id="questionText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<button id="buttonEens">Eens</button>
		<button id="buttonGeenVanBeide">Geen van beide</button>
		<button id="buttonOneens">Oneens</button>
		<button id="buttonSkipQuestion">Sla deze vraag over</button>

		<div>Wat vinden de partijen?</div>
	</div>
</body>
</html>